/* =========================
   📱 MOBILE RESPONSIVE
========================= */

/* tablets */
@media (max-width: 768px) {

  h1 {
    font-size: 26px;
  }

  .shop {
    gap: 15px;
  }

  .card {
    width: 45%;
  }

  .auth-box {
    width: 80%;
  }
}

/* phones */
@media (max-width: 480px) {

  body {
    padding: 10px;
  }

  h1 {
    font-size: 22px;
  }

  .shop {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .card img {
    width: 80px;
    height: 80px;
  }

  button {
    width: 100%;
  }

  .cart {
    width: 95%;
  }

  .auth-box {
    width: 90%;
  }

  #total {
    font-size: 22px;
  }
}
