.auth-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.auth-box p {
  margin-top: 10px;
  color: blue;
  cursor: pointer;
}
